/* <--- Variables ----> */

:root {
  --weightregular: 400;
  --weightsemibold: 500;
  --weightbold: 700;
  --weightextrabold: 900;


  --offblack: #1E1E1E;
  --offwhite: #FFFBFC;
  --lightblue: #96BFE3;
}

/* <--- Main page grid points ---> */
/* <--- TODO: Find a way to provide page specific CSS ---> */

.grid-point {
  fill-opacity: 0;
}

/* 
The text of each grid-point is hidden by default and only revealed once a
grid-point is hovered over. Since the <point-title> and <point-text> will
be larger than an unhovered grid-point, we set `pointer-events: none` to
prevent the hidden text from activiting the hover event of it's parent.
*/
.point-title {
  pointer-events: none;
  font-weight: var(--weightbold);
  fill: var(--offblack);
  opacity: 0;
}

.point-text {
  pointer-events: none;
  font-weight: var(--weightregular);
  fill: var(--offblack);
  opacity: 0;
}

.point-link {
  pointer-events: none;
}

.point-link:hover {
  fill: var(--lightblue);
}

.point-link:hover .point-text {
  fill: var(--lightblue);
}

/* <--- Align the navbar and body margins ---> */

/*
Rather than fuss too much with aligning the navbar to the default
`page-layout: full` setting, I specify a custom page layout for
the main, About, Posts, and Packages page in which I manually align
the body and navbar margins.
*/

.page-layout-custom {
  margin-left: 15vw;
  margin-right: 15vw;
}

.navbar {
  padding-top: 7vh;
  padding-bottom: 6vh;
}

#quarto-header>nav {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media (max-width: 500px) {
  #quarto-header>nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .page-layout-custom {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* Switch hamburger menu from being on the left to the right */
@media (max-width: 991px) {
  .navbar-container.container-fluid {
    flex-direction: row-reverse;/
    -webkit-flex-direction: row-reverse;
  }
}

/* <--- Misc ---> */

h3 {
  font-size: 1.5rem;
  font-weight: var(--weightbold);
}

/* Increases the default padding of the Posts listings table from 0.5rm */
.table>:not(caption)>*>* {
  padding: 0.75rem 0.75rem;
}

/* Sets the width of the Title in Posts listings table */
table td:nth-child(2)  {
  width: 200px;
}

/* Sets the left-padding of the first column to 0 in the Posts listings table*/
thead th:nth-child(1) { padding-left: 0rem; } /* Column title */
table td:nth-child(1)  { padding-left: 0rem; } /* Column elements */

/* Remove the black box from around the hamburger menu when in focus */
.navbar-toggler:focus {
  box-shadow: none;
}

a.title.listing-title {
  width: 400px;
}

.navbar-title {
  font-weight: var(--weightbold);
  font-size: 1.5rem;
}

/* Set the navbar menu text to the same size as the title */
.menu-text {
  font-weight: var(--weightregular);
  font-size: 1.25rem;
}

/* Center aligns the darkmode toggle with the menu text */
.bi::before {
  vertical-align: -.3em;
}

a.black-link {
  color: var(--offblack);
  text-decoration: underline;
}

h1 {
  font-weight: var(--weightextrabold);
  font-size: 9rem;
  padding-bottom: 2rem;
}

@media (max-width: 991px) {
  h1 {
    font-weight: var(--weightextrabold);
    font-size: 4rem;
    padding-bottom: 0rem;
  }
}

/*
a:link { color: var(--offblack); text-decoration:underline; }
a:visited { color: var(--offblack); text-decoration:none; }
a:hover { color: var(--offblack); text-decoration:underline; }
a:active { color: var(--offblack); text-decoration:underline; }
*/
