/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// FLAG: Importing Oswald only for testing, since it's very distinct
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Define font qualities
$weightbold: 700;
$weightsemibold: 500;
$weightregular: 400;

// Define colors
$offblack: #FFFBFC;
$offwhite: #1E1E1E;
$lightblue: #96BFE3;
$code-color: #689d6a; // Matches the color of syntax highlighted code chunks
$code-bg: #343434;    // Matches the color of code chunk background

// navbar
$navbar-bg: $offwhite; // navbar
$navbar-fg: $offblack; // navbar foreground elements
$navbar-hl: $lightblue; // highlight color when hovering over navbar links

// body
$body-bg: $offwhite; // page background 
$body-color: $offblack; // page text

// footer
$footer-bg: $offwhite; // footer 
$link-color: $offblack; // hyperlinks 

/*-- scss:rules --*/

/* <a> -----------------------------------------------------------------------*/

// Nav-bar page links

a.nav-link:visited span {
  color: $offblack;
}

a.nav-link:hover span {
  color: $lightblue;
}

a.nav-link:active span {
  color: $offblack;
}

// All links

a {
  color: $offblack;
  text-decoration: underline;
}

a:not(.nav-link):not(.navbar-brand):hover {
  color: $lightblue;
  text-decoration: underline;
}

a:active {
  color: $offblack;
}

a:visited {
  color: $offblack;
}

a.mono-link {
  color: $offblack;
  text-decoration: underline;
}

a.mono-link:hover {
  color: $lightblue;
  text-decoration: underline;
}

.button-text {
  color: $offblack;
  text-decoration: wavy underline;
  cursor: pointer;
}

.button-text:hover {
  color: $lightblue;
  text-decoration: wavy underline;
}

.blue-hover:hover, .blue-hover:hover *  {
  color: $lightblue;
}

/* Misc ----------------------------------------------------------------------*/

code { 
  color: $code-color;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  background-color: $code-bg;
  padding: .2em;
}

// For some reason block quotes are pink in darkmode
.blockquote {
  color: $offblack;
}

/* D3 Plot Elements ----------------------------------------------------------*/

.plot-annotation {
  fill: $offblack;
}

.plot-data-blue {
  fill: $offwhite;
  stroke: $lightblue;
}

.plot-data-black {
  fill: $offwhite;
  stroke: $offblack;
}

/* D3 Plot Grid --------------------------------------------------------------*/

/* 
NOTE: This is currently (Feb 3, 2025) only relevant to the index.qmd page, but
I may use this same grid as a kind of standard throughout the website.
*/

/* Grid Point and Lines ----*/

.grid-lines {
  stroke: $lightblue;
}

.grid-point {
  fill-opacity: 0;
  fill: $offwhite;
  stroke: $offblack;
}

.point-title {
  pointer-events: none;
  font-weight: $weightbold;
  fill: $offblack;
  opacity: 0;
}

.point-text {
  pointer-events: none;
  font-weight: $weightregular;
  fill: $offblack;
  opacity: 0;
}

.point-link {
  pointer-events: none;
}

.point-link:hover {
  fill: $lightblue;
}

.point-link:hover .point-text {
  fill: $lightblue;
}

/* Filter Selection ----*/

.group-select {
  color: $offblack;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  /* Removes the downwards arrow after the selection text */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.group-select:focus {
  border: none;
  outline: none;
}

.group-select:hover {
  color: $lightblue;
}

/* Quarto wraps the <select> object in <p>, this sets that wrapper's margin */
p:has(> .filter-label) {
  margin: 0px 0px;
}

/* Compensate for Quarto's default of removing padding */
@media (max-width: 991px) {
  p:has(> .filter-label) {
    margin-bottom: 14px;
  }
}
