/* Variables -----------------------------------------------------------------*/

:root {
  --weightregular: 400;
  --weightsemibold: 500;
  --weightbold: 700;
  --weightextrabold: 900;
}

/* Navbar and Custom Layout --------------------------------------------------*/

.page-layout-custom {
  margin-left: 15vw;
  margin-right: 15vw;
}

#quarto-header>nav {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media (max-width: 991px) {
  #quarto-header>nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .page-layout-custom {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.navbar {
  padding-top: 7vh;
  padding-bottom: 4vh;
}

@media (max-width: 991px) {
  .navbar {
    padding-top: 5vh;
    padding-bottom: 4vh;
  }
}

.navbar-title {
  font-weight: var(--weightbold);
  font-size: 1.5rem;
}

/* navbar non-title text */
.menu-text {
  font-weight: var(--weightregular);
  font-size: 1.25rem;
}

/* Switches hamburger menu from being on the left to the right */
@media (max-width: 991px) {
  .navbar-container.container-fluid {
    flex-direction: row-reverse;/
    -webkit-flex-direction: row-reverse;
  }
}

/* Remove the black box from around the hamburger menu when in focus */
.navbar-toggler:focus {
  box-shadow: none;
}

/* Center aligns the darkmode toggle with the menu text */
.bi::before {
  vertical-align: -.3em;
}

/* Font Sizing ---------------------------------------------------------------*/

#title-block-header {
  margin: 0px 0px;
}

.quarto-title {
  margin: 0px 0px;
}

span, a, p {
  font-weight: var(--weightregular);
  font-size: clamp(0.5rem, 3vw, 1rem);
}

h1 {
  font-weight: var(--weightextrabold);
  font-size: clamp(3rem, 18vw, 8rem);
}

h3 {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: var(--weightbold);
}
