/* Listings Table ------------------------------------------------------------*/

/* Increases the default padding of the listings table from 0.5rm */
.table>:not(caption)>*>* {
  padding: 0.75rem 0.75rem;
}

/* Sets the width of the Title column */
table td:nth-child(2)  {
  width: 200px;
}

/* Removes the "Photo" column on small screens. This is unfortunate, but allows
the posts to be useable on mobile. */
@media (max-width: 576px) {
  table th:nth-child(1)  {
    display: none;
  }
  table td:nth-child(1)  {
    display: none;
  }
}

/* Limit the Description column to 100px tall, truncating text with "..." */
span.listing-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 100px;
  text-overflow: ellipsis;
}

/* Sets the left-padding of the first column to 0 in the Posts listings table*/
thead th:nth-child(1) { padding-left: 0rem; } /* Column title */
table td:nth-child(1)  { padding-left: 0rem; } /* Column elements */
